<!DOCTYPE html>
<html>
<head>
  <title>Rails Fun</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div style = "background-color:blue;">FOOTER</div>
</body>
</html>
